<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/main.css">
    <title>Авторизация</title>
</head>
<body style="margin-top: 60px">
<form method="POST">
    <div class="container">
        {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}</div>
        {% endfor %}

        <label form="Login"><b>Почта</b></label>
        <input type="text" placeholder="Введите почту" name="Mail" required>
        <label form="Password"><b>Пароль</b></label>
        <input type="password" placeholder="Введите пароль" name="Password" required>
        <button type="submit">Войти</button>
        <div class="container">
            <span class="reg"> <a href="/signIn">Регистрация</a></span>
        </div>
    </div>
</form>
</body>
</html>