{% extends 'base.html' %}

{% block title %}
Добавление расходов
{% endblock %}

{% block content %}
<form method="POST">
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}

    <br>
    <label>Введите сумму</label>
    <input type="text" placeholder="руб." name="Money" required>
    <hr>
    <label>Выберите категорию</label><br><br>
    <select name="expenses_category">
        <option value="Продкты" selected>Продкты</option>
        <option value="Кафе">Кафе</option>
        <option value="Рестораны">Рестораны</option>
        <option value="Дом">Дом</option>
        <option value="Автомобиль">Автомобиль</option>
        <option value="Здоровье">Здоровье</option>
        <option value="Одежда">Одежда</option>
        <option value="Техника">Техника</option>
        <option value="Подарки">Подарки</option>
        <option value="Услуги">Услуги</option>
        <option value="Другое">Другое</option>
    </select>
    <hr>
    <label>Комментарий</label>
    <input type="text" placeholder="Необязательно" name="Comment">
    <button type="submit">Записать</button>
</form>
{% endblock %}