{% extends 'base.html' %}

{% block title %}
Главная странциа
{% endblock %}

{% block content %}
<div style="padding: 25px">
    <h1>Добро пожаловать в мир управления личными финансами!</h1>
    <p>Мы рады приветствовать вас на нашем сайте, созданном для того, чтобы помочь вам управлять вашими финансами с
        легкостью и уверенностью. Наши инструменты помогут вам отслеживать доходы и расходы, планировать бюджет и
        достигать финансовых целей.</p>
    <img class="img_main" src="static/images/main_page.jpg" style="float: left; margin-right: 30px;">
    <h3>Почему выбирают нас?</h3>
    <ul>
        <li><strong>Интуитивно понятный интерфейс</strong><br>Мы понимаем, что управление финансами может быть сложным.
            Поэтому мы создали простой и удобный интерфейс, который
            позволит вам легко вносить данные и управлять своими финансами.
        </li>
        <li><strong>Высокий уровень безопасности</strong><br>Безопасность ваших данных для нас превыше всего. Мы
            используем современные технологии шифрования и защиты данных,
            чтобы обеспечить конфиденциальность вашей информации.
        </li>
        <li><strong>Полный контроль и аналитика</strong><br>Наши инструменты предоставляют вам полный контроль над
            вашими финансами. Создавайте бюджеты, отслеживайте расходы и
            анализируйте данные для принятия обоснованных финансовых решений.
        </li>
        <li><strong>Персонализированные отчеты</strong><br>Получайте персонализированные отчеты, чтобы видеть полную
            картину вашего финансового состояния. Наши отчеты помогут
            вам выявлять возможности для улучшения и достижения ваших целей.
        </li>
    </ul>
    <br><br>
    <img class="img_main" src="static/images/main_page_2.jpg" style="float: right; margin-left: 10px; max-inline-size: 30%;">
    <h3>Начните свой путь к финансовому благополучию</h3>
    <p><strong>Зарегистрируйтесь</strong> на нашем сайте сегодня и начните управлять своими финансами с уверенностью.
        Наша платформа поможет
        вам достичь ваших финансовых целей и сделать вашу жизнь более организованной и предсказуемой.<br><br>
    <hr>
    <p>
        <strong>Спасибо, что выбрали нас!</strong><br> Мы уверены, что наш сайт поможет вам достичь финансового
        благополучия и уверенности в завтрашнем дне.<br><br>
        С уважением,<br>
        Команда разработчиков<br>
    </p>
</div>
{% endblock %}